//! -- CSS FONT
@import url("https://fonts.googleapis.com/css?family=Open+Sans:500");

//! -- RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    user-select: none;
    text-rendering: optimizeLegibility;
    transition: background 1s ease-out;
}

//! -- VARIABLES
$background: #182a3a;

//! -- LAYOUT
::selection {background-color: rgba(0, 0, 0, 0);} // prevents visible selection.

//! -- STYLING
body {
    font-family: "Open Sans", sans-serif;
    background: $background;
    overflow: hidden;
}

.theme/*, .reset*/ {
    color: grey;
    opacity: .5;
    cursor: pointer;
    position: absolute;
    right: 60px;
}

.theme {
    font-size: 1.7em;
    top: 40px;
}

/*.reset {
    font-size: 1.2em;
    bottom: 40px;
    border: 3px solid rgba(128, 128, 128, .5);
    padding: 15px 20px;
    border-radius: 7px;
    overflow: hidden;
    transition: opacity .2s ease-in-out;
    display: none;

    i {transition: transform .7s cubic-bezier(0.6, -0.28, 0.735, 0.045);}

    &:hover {opacity: 1;}
    &:hover::after {width: 100%;}

    &::after {
        content: '';
        background: rgba(128, 128, 128, .5);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        transition: width .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}*/

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add {
  background: transparent!important;
  box-shadow: none!important;
  cursor: pointer;
  border: 5px solid rgba(128, 128, 128, .5);
  overflow: hidden;
  display: none;
  animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;
  transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1);

  .plus {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(128, 128, 128, .5);
    font-size: 1.5em;
    transition: color .5s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover .plus {
    color: rgba(128, 128, 128, 1);
  }

  &:hover {
    transform: scale(105%);
  }

  &:hover::after {opacity: 1;}

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(128, 128, 128, .5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.card {
    background: radial-gradient(
        circle,
        rgb(255, 255, 255) 0%,
        rgb(213, 213, 213) 100%
    );
    width: 425px;
    height: 225px;
    border-radius: 20px;
    position: relative;
    box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, .5);

  .remove, .logo, .plus {
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }

  .remove {
    top: 30px;
    right: 30px;
    opacity: 0.7;

    &:hover {color: #f06b5d;}
  }

  .logo {
    top: 20px;
    left: 30px;
    font-size: 3em;
    opacity: .15;
  }

  .number, .owner {
    display: block;
    position: absolute;
    left: 30px;
    cursor: default;
    opacity: .9;
    transition: color 0.7s ease-out;
  }

  .number {bottom: 60px; letter-spacing: 4px;}
  .owner {bottom: 30px; letter-spacing: 1px;}

}

.delete {animation: slideOut 0.7s cubic-bezier(0.64, 0, 0.78, 0) both!important;}
.zoomOut {animation: zoomOut 1s cubic-bezier(0.22, 1, 0.36, 1) both;}
.zoomIn {animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;}

//! -- KEYFRAMES
@keyframes slideOut {
  0% {
    transform: translateX(0);
    filter: blur(0);
    pointer-events: none;
  }
  20% {
    transform: translateX(-10vw) skewX(-5deg);
  }
  100% {
    transform: translateX(130vw) skewX(-20deg);
    filter: blur(4px);
    display: none;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0) translateX(0);
    filter: blur(4px);
    cursor: default;
    display: block;
  }
  80% {filter: blur(0);}
  100% {
    transform: scale(100%);
    cursor: pointer;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(100%);
    filter: blur(0);
    pointer-events: none;
    cursor: default;
  }
  80% {filter: blur(4px);}
  100% {
    transform: scale(0);
    display: none;
  }
}