@import url("https://fonts.googleapis.com/css?family=Open+Sans:500");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}

::selection {
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  background: #182a3a;
  overflow: hidden;
}

.theme {
  color: grey;
  opacity: .5;
  cursor: pointer;
  position: absolute;
  right: 60px;
}

.theme {
  font-size: 1.7em;
  top: 40px;
}

/*.reset {
    font-size: 1.2em;
    bottom: 40px;
    border: 3px solid rgba(128, 128, 128, .5);
    padding: 15px 20px;
    border-radius: 7px;
    overflow: hidden;
    transition: opacity .2s ease-in-out;
    display: none;

    i {transition: transform .7s cubic-bezier(0.6, -0.28, 0.735, 0.045);}

    &:hover {opacity: 1;}
    &:hover::after {width: 100%;}

    &::after {
        content: '';
        background: rgba(128, 128, 128, .5);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        transition: width .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}*/
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.add {
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: pointer;
  border: 5px solid rgba(128, 128, 128, 0.5);
  overflow: hidden;
  display: none;
  -webkit-animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;
          animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.add .plus {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(128, 128, 128, 0.5);
  font-size: 1.5em;
  -webkit-transition: color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition: color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.add:hover .plus {
  color: gray;
}

.add:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.add:hover::after {
  opacity: 1;
}

.add::after {
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card {
  background: radial-gradient(circle, white 0%, #d5d5d5 100%);
  width: 425px;
  height: 225px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.5);
}

.card .remove, .card .logo, .card .plus {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.card .remove {
  top: 30px;
  right: 30px;
  opacity: 0.7;
}

.card .remove:hover {
  color: #f06b5d;
}

.card .logo {
  top: 20px;
  left: 30px;
  font-size: 3em;
  opacity: .15;
}

.card .number, .card .owner {
  display: block;
  position: absolute;
  left: 30px;
  cursor: default;
  opacity: .9;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}

.card .number {
  bottom: 60px;
  letter-spacing: 4px;
}

.card .owner {
  bottom: 30px;
  letter-spacing: 1px;
}

.delete {
  -webkit-animation: slideOut 0.7s cubic-bezier(0.64, 0, 0.78, 0) both !important;
          animation: slideOut 0.7s cubic-bezier(0.64, 0, 0.78, 0) both !important;
}

.zoomOut {
  -webkit-animation: zoomOut 1s cubic-bezier(0.22, 1, 0.36, 1) both;
          animation: zoomOut 1s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.zoomIn {
  -webkit-animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;
          animation: zoomIn 1s cubic-bezier(0.22, 1, 0.36, 1) backwards;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    pointer-events: none;
  }
  20% {
    -webkit-transform: translateX(-10vw) skewX(-5deg);
            transform: translateX(-10vw) skewX(-5deg);
  }
  100% {
    -webkit-transform: translateX(130vw) skewX(-20deg);
            transform: translateX(130vw) skewX(-20deg);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    display: none;
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    pointer-events: none;
  }
  20% {
    -webkit-transform: translateX(-10vw) skewX(-5deg);
            transform: translateX(-10vw) skewX(-5deg);
  }
  100% {
    -webkit-transform: translateX(130vw) skewX(-20deg);
            transform: translateX(130vw) skewX(-20deg);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    display: none;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    cursor: default;
    display: block;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    cursor: pointer;
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    cursor: default;
    display: block;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    cursor: pointer;
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-filter: blur(0);
            filter: blur(0);
    pointer-events: none;
    cursor: default;
  }
  80% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-filter: blur(0);
            filter: blur(0);
    pointer-events: none;
    cursor: default;
  }
  80% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */