::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  background-color: black;
  font-family: "Space Mono", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  outline: none;
  border: 0;
}

nav {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 75%;
  padding-top: 6vh;
  height: 5em;
  z-index: 99;
  background-color: black;
  -webkit-box-shadow: 0px 60px 55px 5px black;
          box-shadow: 0px 60px 55px 5px black;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav img {
  width: 4em;
  -webkit-animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

nav.small {
  padding-top: 3vh;
}

nav #menu {
  float: right;
  -webkit-animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

nav #menu ul,
nav #menu li,
nav #menu #burger {
  display: inline-block;
}

nav #menu ul {
  color: white;
  list-style: none;
  opacity: 0;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  pointer-events: none;
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav #menu ul li {
  font-size: 0.9em;
  margin-right: 40px;
}

nav #menu ul.on {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  pointer-events: all;
}

nav #menu #burger {
  cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

nav #menu #burger .bar {
  background-color: white;
  width: 30px;
  height: 1px;
  margin: 10px 0;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav #menu #burger .bar.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

article {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  color: white;
}

header #bottom {
  position: absolute;
  bottom: 7vh;
  min-width: 80%;
  -webkit-animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: fade 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

header #bottom h1 {
  margin-left: 7vw;
  font-size: 1.5em;
  font-weight: normal;
  display: inline-block;
  line-height: 2;
  letter-spacing: -1px;
}

header #bottom h1 .passion {
  display: none;
  color: #808c99;
}

header #bottom svg {
  cursor: pointer;
  width: 1.5em;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 7vw;
}

#scroll {
  opacity: 0;
}

#portfolio {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portfolio .card {
  display: inline-block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: center;
  margin-right: 10em;
}

#portfolio .card span {
  display: block;
}

#portfolio .card span.button a {
  cursor: pointer;
  border: 1px solid white;
  padding: 5px 35px;
  position: relative;
  -webkit-transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#portfolio .card span.button a:hover {
  color: black;
}

#portfolio .card span.button a::after {
  content: "";
  background-color: white;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#portfolio .card span.button a:hover::after {
  width: 100%;
}

#portfolio .card span.description {
  font-size: 1.15em;
  margin-bottom: 60px;
}

#portfolio .card span.button {
  font-size: 0.9em;
  margin-top: 60px;
}

#portfolio .card:last-of-type {
  margin-right: 0;
}

#portfolio .card img {
  width: 1.6em;
  image-rendering: optimizequality;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#quote {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #808c99;
  position: absolute;
  bottom: 6vh;
  left: 7vw;
}

#quote::after {
  content: "";
  background-color: #808c99;
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 1px;
  -webkit-transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#quote:hover::after {
  width: 0;
}

#end {
  opacity: 0;
}

#end footer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#end footer #socials {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

#end footer #socials svg {
  width: 1.2em;
}

#end footer #socials a {
  margin-right: 40px;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#end footer #socials a:last-of-type {
  margin: 0;
}

#end footer #socials a:hover {
  opacity: 1;
}

#blur {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 24, 0.5);
}

#blur #notify {
  z-index: 999;
  position: fixed;
  bottom: -40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
          transform: translate3d(-50%, 50%, 0);
  background-color: white;
  width: 50ch;
  padding: 2em 3em;
  border-radius: 1em;
}

#blur #notify h3 {
  margin-bottom: 1em;
}

#blur #notify p {
  margin-bottom: 2em;
}

#blur #notify button#close {
  cursor: pointer;
  display: block;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-weight: 600;
  margin: 0 auto;
  width: 80%;
  padding: 0.7em 3em;
  border-radius: 1em;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#blur #notify button#close:hover {
  background-color: white;
  color: black;
}

.fade {
  -webkit-animation: fade 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: fade 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.fadeOut {
  -webkit-animation: fadeOut 0.7s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: fadeOut 0.7s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.slideIn {
  -webkit-animation: slideIn 0.7s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
          animation: slideIn 0.7s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes fade {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
    pointer-events: none;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fade {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
    pointer-events: none;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@-webkit-keyframes slideIn {
  0% {
    pointer-events: none;
  }
  100% {
    bottom: 50%;
    pointer-events: all;
  }
}

@keyframes slideIn {
  0% {
    pointer-events: none;
  }
  100% {
    bottom: 50%;
    pointer-events: all;
  }
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  body {
    font-size: 1em;
  }
  #top a,
  #quote,
  #end img#autoportrait {
    display: none;
  }
  article,
  #scroll {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  nav {
    width: 100%;
    padding-top: 3vh !important;
    height: 4em;
    overflow-y: hidden;
  }
  nav img {
    margin-left: 40px;
  }
  nav #burger {
    margin-right: 40px;
    -webkit-transform: translateY(5px) !important;
            transform: translateY(5px) !important;
    overflow-y: hidden;
  }
  nav ul {
    vertical-align: bottom;
    line-height: 18px;
    overflow-y: hidden;
  }
  nav ul li {
    font-size: 0.8em !important;
    margin-right: 20px !important;
    overflow-y: hidden;
  }
  header #bottom {
    bottom: 15vh;
  }
  header #bottom h1 {
    word-break: break-word;
    margin-left: 0;
    max-width: 80%;
  }
  header h1 span:nth-last-of-type() {
    padding-right: 20px;
  }
  #portfolio {
    display: block;
    position: inherit;
    -webkit-transform: none;
            transform: none;
  }
  #portfolio .card {
    display: block;
    margin: 400px 0;
    max-width: inherit;
    padding: 10px 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
  #portfolio .card:last-of-type {
    margin-bottom: 300px;
  }
  #portfolio .card .button {
    overflow: visible !important;
  }
  #portfolio .card .button a {
    border: 1px solid white !important;
  }
  #end {
    height: 30vh;
    opacity: 1 !important;
  }
  #notify {
    -webkit-transform: scale(0.9) translate3d(-50%, 50%, 0) !important;
            transform: scale(0.9) translate3d(-50%, 50%, 0) !important;
    -webkit-transform-origin: left;
            transform-origin: left;
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */