@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

$background: #39596F;
$red: #FF674D;
$yellow: #FFFF33;

::selection {
  color: $yellow;
  background-color: transparent;
}

body {
  font-family: "Press Start 2P", sans-serif;
  overflow: hidden;
}

.game {
  
  width: 100vw; height: 100vh;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
  background-color: $background;

  .mute {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50px; right: 50px;
    width: 60px;
    image-rendering: crisp-edges;
    
    &.sounds {
      right: 150px;
    }
  }
  
  .title-container {
    overflow: hidden;
    margin-bottom: 50px;
    
    h1 {
      cursor: default;
      color: $red;
      letter-spacing: 5px;
      font-size: 2.5em;
      animation: start 1.5s 1s linear both;
    }
    
  }
  
  .start {
    font-size: .8em;
    cursor: pointer;
    color: white;
    border: 3px solid $red;
    padding: 11px 20px 10px 25px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    
    &:hover {
      color: $yellow;
      animation: blink 1s step-end infinite;
    }
    
    img {
        height: 1.2em;
        vertical-align: baseline;

        &.jump {animation: jump .5s ease-out both;}
    }
  }
  
  
  #started-game {
    display: none;
    overflow: hidden;
    
    #board {
      content: "";
      width: 960px; height: 600px;
      display: block;
      margin: 0 auto;
      border: 3px dashed $red;
      position: relative;

      &.shake {animation: shake 1s ease-out both; animation-iteration-count: 4;}

      #score, #lives, #level {
        cursor: default;
        user-select: none;
        position: absolute;
        top: 12px; left: 20px;
        color: $yellow;
        font-size: .85em;
      }

      #level {
        left: 50%;
        transform: translateX(-60%);
        color: $red;
      }

      #lives {
        left: inherit; right: 20px;
      }
      
      .ball {
        content: '';
        width: 24px; height: 24px;
        background-color: $yellow;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      .brick, .bonus {
        content: '';
        width: 62px; height: 24px;
        border: 2px solid #d55741;
        background-color: $red;
        position: absolute;
        top: 34px; left: 0;
        z-index: 1;
      }

      .bonus {
        border: 2px solid #d8d821;
        background-color: $yellow;
      }

      .paddle {
        content: "";
        width: 96px; height: 16px;
        background-color: $red;
        position: absolute;
        bottom: 0; left: 0;
        z-index: 1;

        &.blink {animation: blink .2s .4s ease-out both; animation-iteration-count: 6;}
      }
    }

    #life-lost {
      cursor: default;
      pointer-events: none;
      transform: rotateZ(-30deg);
      position: absolute;
      bottom: 30%; right: 30%;
      font-size: 2em;
      color: $red;
      opacity: 0;

      &.lost-life{animation: lost-life ease-out 1.5s; transform-origin: 50% 50%;}
    }
  }
}

@keyframes start {
    0% {transform: translateY(100%);}
    20%{transform: translateY(100%);}
    25%{transform: translateY(60%);}
    45% {transform: translateY(60%);}
    50% {transform: translateY(40%);}
    70% {transform: translateY(40%);}
    75%{transform: translateY(30%);}
    100% {transform: translateY(0%);}
}

@keyframes blink {
    0% {background-color: $red;}
    80% {background-color: $background;}
}

@keyframes shake {
  0% {margin: 0 auto;}
  40% {margin-left: -30px;}
  80% {margin-right: 30px;}
}

@keyframes lost-life {
  0% {opacity: 0; transform: scale(1, 1) rotate(0deg);}
  28% {opacity: 1; transform: scale(1.5, 1.5) rotate(21deg);}
  38% {opacity: 1; transform: scale(1.5, 1.5) rotate(28deg);}
  46% {opacity: 1; transform: scale(1.5, 1.5) rotate(-28deg);}
  54% {opacity: 1; transform: scale(1.5, 1.5) rotate(28deg);}
  63% {opacity: 1; transform: scale(1.5, 1.5) rotate(-28deg);}
  100% {opacity: 0; transform: scale(1, 1) rotate(-28deg);}
}

@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(4px);
    }

    80% {filter: blur(0);}
    100% {opacity: 1;}
}
